section.about#about
    h2.about__title Теперь расскажите о себе
    form.about__form#js-form
        
        label.about__form-row
            span.about__form-title Фамилия и имя 
            input.about__form-input#js-name(type='text' placeholder='Сидоров Александр')
        label.about__form-row
            span.about__form-title Электронная почта
            input.about__form-input#js-mail(type='text' placeholder='Sidorov@yandex.ru')
        label.about__form-row
            span.about__form-title Телефон
            input.about__form-input#js-phone(type='text' placeholder='+7 (999)-328-14-20')
        label.about__form-row
            span.about__form-title Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?
            textarea.about__form-input.about__form-input--ta#js-ta( placeholder='Свой проект по созданию универсальной инфраструктуры строительства')
        button(type="submit").about__form-btn Отправить
            
            
            
            