section.benefit
    h2.benefit__title Преимущества работы с нами
    ul.benefit__list
        li.benefit__item
            +icon('wallet', 'benefit__icon')
            h3.benefit_title-item Делимся опытом и навыками
            p.benefit_descr Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
        li.benefit__item
            +icon('wallet', 'benefit__icon')
            h3.benefit_title-item Стабильная зарплата
            p.benefit_descr Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
        li.benefit__item
            +icon('wallet', 'benefit__icon')
            h3.benefit_title-item Гибкий график
            p.benefit_descr Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.