section.promo
    .promo__block
        h1.promo__title Ты готов стать профессионалом?
        p.promo__text
            | Мы ищем 
            span.promo__text-orange талантов 
            | и 
            span.promo__text-orange саппортов 
            | в команду. Решите на какую категорию вы претендуете. 
        a.promo__btn(href="#about") Заполнить анкету
